<div id="<%= dom_id user %>"class="d-flex justify-content-between m-2 p-3 border-bottom">
  <h2><%= user.name %></h2>
  <div class="btn-group mx-3" role="group" aria-label="User Edit">
    <%= link_to edit_user_path, class: "btn btn-warning" do %>
      <%= fa_icon "exchange" , text: " Editar" %>
    <% end %>
    <%= button_to users_path, method: :delete, class: "btn btn-danger" do %>
      <%= fa_icon "trash" , text: " Eliminar" %>
    <% end %>
  </div>
</div>

<div id="<%= dom_id user %>" class="p-2">
  <ul class="row list-group list-group-horizontal m-2">
    <li class="col-12 list-group-item">
      <%= user.nif %>
    </li>
  </ul>
  <ul class="row list-group list-group-horizontal m-2">
    <li class="col-4 list-group-item"><%= user.name %></li>
    <li class="col-4 list-group-item"><%= user.surname1 %></li>
    <li class="col-4 list-group-item"><%= user.surname2 %></li>
  </ul>
  <ul class="row list-group list-group-horizontal m-2">
    <li class="col-10 list-group-item"><%= user.address %></li>
    <li class="col-2 list-group-item"><%= user.pc %></li>
  </ul>
  <div class="row list-group list-group-horizontal m-2">
    <li class="col-9 list-group-item"><%= user.city %></li>
    <li class="col-3 list-group-item"><%= user.province %></li>
  </div>
  <div class="row list-group list-group-horizontal m-2">
    <li class="col-4 list-group-item"><%= user.phone1 %></li>
    <li class="col-4 list-group-item"><%= user.phone2 %></li>
    <li class="col-4 list-group-item"><%= user.email2 %></li>
  </div>
  <div class="row list-group list-group-horizontal m-2">
    <% if user.suscriptor = true %>
      <li class="col-12 list-group-item bg-primary text-center text-white">Suscripción activa</li>
    <% else %>
      <li class="col-12 list-group-item bg-secondary text center text-white">No hay ninguna suscripción activa</li>
    <% end %>
  </div>

</div>