<p style="color: green"><%= notice %></p>

<div class="container-fluid d-flex justify-content-center ">
  <div class="col-6 bg-light rounded shadow">
    <div class="d-flex justify-content-between m-2 p-3 border-bottom">
      <h2>Roles</h2>
      <%= link_to new_role_path, class: "btn btn-success" do %>
      <%= fa_icon "plus", text: "Nuevo Rol" %>
      <% end %>
    </div>

    <div id="roles" class="col-6 d-block mx-auto m-2 p-3">
      <table>
        <thead>
          <tr>
            <td>Nombre</td>
            <td colspan="3">Acciones</td>
          </tr>
        </thead>
        <tbody>
          <% @roles.each do |role| %>
          <tr>
            <td><%= role.name %></td>
            <td colspan="3">
              <%= link_to role, class: "text-primary" do %>
                <%= fa_icon "eye", text: " Mostrar" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div id="page_navigation">
      <div class="row m-1 p-2">
        <%= link_to root_path, class: "btn btn-danger" do %>
          <%= fa_icon "home", text: " Página Principal" %>
        <% end %>
      </div>
    </div>

  </div>
</div>

